<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Styles -->
    <link rel="stylesheet" href="../styles/style-index.css" />
    <link rel="stylesheet" href="../styles/colors.css" />
    <link rel="stylesheet" href="../styles/type.css" />
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Nabla&display=swap"
      rel="stylesheet"
    />
    <!-- Favicon -->
    <link rel="icon" href="../favicon.ico" type="image/x-icon" />
    <title>You are now On the Record!</title>
  </head>
  <body>
    <div
      class="title space-grotesk"
      onmouseover="hoverbox_on()"
      onmouseout="hoverbox_off()"
    >
      <!-- Title -->
      <a target="_blank" href="../pages/about.html" class="rotate">O</a>
      <a target="_blank" href="../pages/about.html" class="rotate">n</a>
      <br />
      <a target="_blank" href="../pages/about.html" class="rotate">R</a>
      <a target="_blank" href="../pages/about.html" class="rotate">e</a>
      <a target="_blank" href="../pages/about.html" class="rotate">c</a>
      <a target="_blank" href="../pages/about.html" class="rotate">o</a>
      <a target="_blank" href="../pages/about.html" class="rotate">r</a>
      <a target="_blank" href="../pages/about.html" class="rotate">d</a>
    </div>

    <div class="line">
      <!-- Line separator -->
    </div>

    <div class="metrics space-grotesk" id="hoverbox">
      <!-- Metrics -->
      People on the record:
      <span id="num_users"></span>
      <br />
      Artists on the record:
      <span id="num_artists"></span>
      <br />
      Tracks on the record:
      <span id="num_tracks"></span><br />
      Albums on the record:
      <span id="num_albums"></span><br />
    </div>

    <div class="subtext space-grotesk">
      <p>
        Join the people
        <span class="emph">On</span>
        the
        <span class="emph">Record</span>
      </p>
      <p>Discover the music people are listening to</p>
      <p>Discover the music <i>you</i> will listen to</p>
    </div>

    <div class="albums">
      <!-- Images -->
      <!-- Using random songs from the database for album covers -->
      <div class="blursquare"></div>
      {{#if randomSongs}}
        {{#each randomSongs}}
          {{#if @index}}
            {{#if (eq @index 0)}}
              <img
                src="{{this.image}}"
                alt="{{this.name}}"
                id="album_1"
                class="album_1"
              />
            {{else if (eq @index 1)}}
              <img
                src="{{this.image}}"
                alt="{{this.name}}"
                id="album_2"
                class="album_2"
              />
            {{else if (eq @index 2)}}
              <img
                src="{{this.image}}"
                alt="{{this.name}}"
                id="album_3"
                class="album_3"
              />
            {{else if (eq @index 3)}}
              <img
                src="{{this.image}}"
                alt="{{this.name}}"
                id="album_4"
                class="album_4"
              />
            {{else if (eq @index 4)}}
              <img
                src="{{this.image}}"
                alt="{{this.name}}"
                id="album_5"
                class="album_5"
              />
            {{else if (eq @index 5)}}
              <img
                src="{{this.image}}"
                alt="{{this.name}}"
                id="album_6"
                class="album_6"
              />
            {{else if (eq @index 6)}}
              <img
                src="{{this.image}}"
                alt="{{this.name}}"
                id="album_7"
                class="album_7"
              />
            {{else if (eq @index 7)}}
              <img
                src="{{this.image}}"
                alt="{{this.name}}"
                id="album_8"
                class="album_8"
              />
            {{else if (eq @index 8)}}
              <img
                src="{{this.image}}"
                alt="{{this.name}}"
                id="album_9"
                class="album_9"
              />
            {{/if}}
          {{else}}
            <img
              src="{{this.image}}"
              alt="{{this.name}}"
              id="album_1"
              class="album_1"
            />
          {{/if}}
        {{/each}}
      {{/if}}
    </div>

    <div class="buttons space-grotesk">
      <button
        id="register-button"
        class="register-button"
        title="Registering a new account"
      >
        I wanna be on the record!
      </button>
      <button id="login-button" class="login-button" title="Login your account">
        I'm already on the record!
      </button>
    </div>

    <div id="register-modal" class="modal">
      <span
        id="close-register-modal"
        class="close-register-modal space-grotesk"
      >
        &times;
      </span>
      <div class="register-modal-content space-grotesk">
        <h2>So... you <i>want</i> to be on the record eh?</h2>
        <form action="/register" id="register-form">
          <h3>
            Anyways, *cough* *cough* Hello there young traveler! Let's get you
            On the Record.
          </h3>

          <label for="fullname">Pray tell young one, what's your full name?
            Mine's Glorious Maximus Onnus Recordus!</label><br />
          <input
            type="text"
            id="fullname"
            name="fullname"
            required
            placeholder="enter your full name here "
          /><br />

          <label for="username">Aha! What a boring name! Please tell me I can
            call you something else:</label>
          <br />
          <input
            type="text"
            id="username"
            name="username"
            required
            placeholder="enter your username here"
          /><br />

          <label for="email">Okay then, to where do I send my messenger pigeon
            too?:</label>
          <br />
          <input
            type="email"
            id="email"
            name="email"
            required
            placeholder="enter your email here"
          /><br />

          <label for="password">Okay then, choose a secret word or phrase that
            only
            <i>the two of us</i>
            should know:</label>
          <br />
          <input
            type="password"
            id="password"
            name="password"
            required
            placeholder="enter your password here"
          /><br />

          <label for="birthday">My, my, I almost forgot! When is this young
            man's birthday?</label><br />
          <input type="date" id="birthday" name="birthday" required /><br />
          <button type="submit">Put me on the record!</button>
          <div class="error-box">
            <p id="error_register">&#8203;</p>
          </div>
        </form>
      </div>
    </div>

    <div id="login-modal" class="modal">
      <span id="close-login-modal" class="close-login-modal space-grotesk">
        &times;
      </span>
      <div class="login-modal-content space-grotesk">
        <form action="/login" id="login-form">
          <h3>
            Why hello there young traveller!
            <br />
            Oh! I kind of recognize you?
          </h3>
          <label for="username">
            Hmm... I recall your face, but I don't remember your name...
          </label>
          <br />
          <input
            type="text"
            id="username"
            name="username"
            required
            placeholder="enter your username"
          /><br />

          <label for="password">
            Hmm... I kind of recognize that name, what secret word do we share
            each other?
          </label>
          <br />
          <input
            type="password"
            name="password"
            id="password"
            required
            placeholder="enter your password"
          />
          <br />
          <button type="submit">Login</button>
        </form>
        <div class="error-box">
          <p id="error_login">&#8203;</p>
        </div>
        <br />
      </div>
    </div>

    <script src="../js/index.js"></script>
  </body>
</html>