<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="/styles/style-review.css">
  <link rel="stylesheet" href="/styles/colors.css"> 
  <link rel="stylesheet" href="/styles/type.css">
  <link rel="stylesheet" href="/styles/header-nav.css">

  <!-- Google Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
  
  <!-- Favicon -->
  <link rel="icon" href="/favicon.ico" type="image/x-icon">

  <title>{{pageTitle}}</title>
</head>
<body>
  <!-- Navigation Bar -->
  <div class="nav-bar">
    <div class="nav-bar-elements">
      <!-- Title -->
      <a class="on-record" href="/home">
        <span>O</span><span>n</span>
        <br />
        <span>R</span><span>e</span><span>c</span><span>o</span><span
        >r</span><span>d</span>
      </a>
      <!-- Genre Button -->
      <div class="genre-button">
        <button class="genre">Genre</button>
        <div class="genre-content">
          <a href="#">Pop</a>
          <a href="#">Rock</a>
          <a href="#">Hip-Hop</a>
          <a href="#">R&B</a>
          <a href="#">Country</a>
          <a href="#">Jazz</a>
          <a href="#">Classical</a>
          <a href="#">Electronic</a>
          <a href="#">Folk</a>
        </div>
      </div>
      <!-- Search Bar -->
      <div class="search-bar">
        <!-- Text Box -->
        <input
          type="search"
          class="text-box"
          id="search-input"
          placeholder="Search..."
        />
      </div>
      <div id="search-results" class="search-results"></div>
      <!-- Charts Button -->
      <div class="charts-button">
        <a class="charts" href="charts">
          <span class="charts-text" href="charts">Charts</span>
        </a>
      </div>
      <!-- User Button -->
      <div class="user-button">
        <a class="user-button" href="userpage.html">
          <img class="user-pic" src="{{user.image}}" alt="User Image" />
        </a>
      </div>

      <!-- Logout Button -->
      <div class="logout-button">
        <a class="logout" href="/logout">
          <span class="logout-text">Logout</span>
        </a>
      </div>
    </div>
  </div>
  
  <!-- Review Section -->
  <div class="review">
    <!-- Song details -->
    <div class="review-header">
      <img src="{{albumCover}}" alt="Album Cover">
      <div class="review-details">
        <p id="song-title">{{songTitle}}</p>
        <p id="artist-name">{{artist}}</p>
        <p>Release Date: {{releaseDate}}</p>
        <p>Rating: {{songRating}}/5</p>
        <p>Genre:
          {{#each songGenres}}
            <span class="genre-links"><a href="#">{{this}}</a></span>{{#unless @last}}, {{/unless}}
          {{/each}}
        </p>
      </div>
    </div>

    <article>
      <h3>Song Description</h3>
      <p>{{songDescription}}</p>
    </article>

    <!-- Comment Section -->
    <div class="comment-box">
      <h3>Leave a Comment</h3>
      <form action="/submit-review" method="POST">
          <div class="rate">
            <input type="radio" id="star5" name="rate" value="5" />
            <label for="star5" title="text">5</label>
            <input type="radio" id="star4" name="rate" value="4" />
            <label for="star4" title="text">4</label>
            <input type="radio" id="star3" name="rate" value="3" />
            <label for="star3" title="text">3</label>
            <input type="radio" id="star2" name="rate" value="2" />
            <label for="star2" title="text">2</label>
            <input type="radio" id="star1" name="rate" value="1" />
            <label for="star1" title="text">1</label>
          </div>
        <textarea name="comment" rows="4" cols="50" placeholder="Write your comment here..."></textarea><br>
        <button type="submit">Submit</button>
        <input type="hidden" name="userName" value="{{user.username}}">
        <input type="hidden" name="userPic" value="{{user.image}}">
        <input type="hidden" name="songName" value="{{songTitle}}">
      </form>
    </div>

    <!-- User reviews -->
    <div class="user-reviews">
        <h3>User Reviews</h3>
        {{#if reviews.length}}
            {{#each reviews}}
                <div class="user-review">
                    <img src="{{this.userPic}}" alt="User {{this.userName}}">
                    <div class="user-review-details">
                        <h4>{{this.userName}}</h4>
                        <p>{{this.comment}}</p>
                        <p>Rating: {{this.rating}}/5</p>
                    </div>
                    {{#if (eq this.userName ../user.username)}}
                      <div class="review-actions">
                          <button class="edit-button" data-review-id="{{this._id}}">Edit</button>
                          <button class="delete-button" data-review-id="{{this._id}}">Delete</button>
                      </div>
                    {{else}}
                      {{#if (eq ../user.type "admin")}}
                          <div class="review-actions">
                            <button class="delete-button" data-review-id="{{this._id}}">Delete</button>
                          </div>
                      {{/if}}
                    {{/if}}
                </div>
            {{/each}}
        {{else}}
            <p>No reviews yet. Be the first to leave one!</p>
        {{/if}}
    </div>

  </div>
  <script src="../js/review.js"></script>
  <script src="../js/home.js"></script>
</body>
</html>
